### Work with API
- API is nothing but data pipeline

In [25]:
import pandas as pd
import requests

In [26]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=eb71c0c754d49f9b08fe183898fa606f&language=en-US&page=1')

In [27]:
df=pd.DataFrame(response.json()['results'])[['id', 'title','overview','release_date','popularity', 'vote_average', 'vote_count']]

In [28]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,28.1380,8.700,28779
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,25.8674,8.686,21766
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,15.1316,8.571,13141
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,13.0564,8.565,16659
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,15.7736,8.548,9353

### For store all movies

In [29]:
df=pd.DataFrame()

In [30]:
df

Empty DataFrame
Columns: []
Index: []

In [32]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=eb71c0c754d49f9b08fe183898fa606f&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id', 'title','overview','release_date','popularity', 'vote_average', 'vote_count']]
    df = pd.concat([df, temp_df], ignore_index=True)

In [34]:
df.shape

(8560, 7)

In [35]:
df.to_csv('top_rated_movies.csv', index=False)